h1 {
    color:#000000;
}
body{
    background-color:#E7B79D;
}
.header{
    background-color:#9DCEE7;
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
    color:#C2783D
}

p,h2{
    text-align: center;
}